@model WebLuanVan.Data.ViewModels.Request.Thesis.ThesisRequest
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        function visibleElement() {
            var ele = document.getElementsByName("date");
            for (var i = 0; i < ele.length; i++) {
                if (ele[i].style.display == 'none') {
                    ele[i].style.display = 'block';
                } else {
                    ele[i].style.visibility = 'none';
                }
            }
        }
        var text;
        function test(a) {
            text = a.options[a.selectedIndex].text;
            //alert(text);
            var test = document.getElementById("myInput") + ",";
            test.value += text;
        };
    </script>
 }
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Table</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Luận văn</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a asp-action="Index" asp-controller="Thesis" class="btn btn-sm btn-neutral">Danh sách</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Chi tiết và sửa luận văn</h3>
                </div>
                <!-- Create User -->
                <form asp-action="Edit" enctype="multipart/form-data" method="post" class="input-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
            <label class="control-label">Tên luận văn</label>
            <input asp-for="Id" class="form-control"/>
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@
                    <div class="form-group">
                        <label class="control-label">Tên luận văn</label>
                        <input asp-for="ThesisName" class="form-control" />
                        <span asp-validation-for="ThesisName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="StudentId" name="studentId" type="text" id="myInput" />
                    </div>
                    <div class="form-group">
                        <label asp-for="StudentId" class="control-label"></label>
                        <select asp-items="@ViewBag.Students" class="form-control" id="txtSV" onchange="test(this)">
                            <option>--Chọn sinh viên--</option>
                        </select>
                        <span asp-validation-for="StudentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Năm</label>
                        <input asp-for="Year" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Đợt</label>
                        <input asp-for="Phase" class="form-control"/>
                        <span asp-validation-for="Phase" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Khoá</label>
                        <input asp-for="AcademicYear" class="form-control" />
                        <span asp-validation-for="AcademicYear" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GuideLectureId" class="control-label"></label>
                        <select name="guideLectureId" asp-items="@ViewBag.GuideLectures" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="DebateLectureId" class="control-label"></label>
                        <select name="debateLectureId" asp-items="@ViewBag.DebateLectures" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="FacultyId" class="control-label"></label>
                        <select name="facultyId" asp-items="@ViewBag.Faculties" class="form-control">
                            <option>--Chọn khoa--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mã luận văn</label>
                        <input asp-for="ThesisId" class="form-control" />
                        <span asp-validation-for="ThesisId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Language" class="control-label"></label>
                        <select name="language" asp-items="@ViewBag.Languages" class="form-control">
                            <option>--Chọn ngôn ngữ--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">File luận văn</label>
                        <input asp-for="FileContent" type="file" class="form-control" />
                        <span asp-validation-for="FileContent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ngày bảo vệ</label>

                        <input asp-for="ProtectedAt" class="form-control" />

                        <span asp-validation-for="ProtectedAt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ngày thực hiện</label>

                        <input asp-for="MakedAt" class="form-control" />
                        <span asp-validation-for="MakedAt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ngày kết thúc</label>

                        <input asp-for="FinishedAt" class="form-control" />
                        <span asp-validation-for="FinishedAt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Điểm</label>
                        <input asp-for="Score" class="form-control" />
                        <span asp-validation-for="Score" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

