@using WebLuanVan.Data.ViewModels.Common
@model PagedResult<WebLuanVan.Data.ViewModels.ModelBinding.ThesisViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        setTimeout(function () {
            $("#msgAlert").fadeOut('slow');
        }, 1000);
    </script>
}

<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Table</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Danh sách luận văn</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a asp-action="Create" asp-controller="Thesis" class="btn btn-sm btn-neutral" id="btnNew">Tạo mới</a>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">

                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="mb-0">Danh sách luận văn</h3>
                        </div>
                        <div class="col-md-6">
                            <a asp-action="Index" asp-controller="Thesis" class="btn btn-sm btn-neutral" id="btnNew">Danh sách đầy đủ</a>
                        </div>
                    </div>
                </div>
                <!-- Search form -->
                <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                    <div class="form-group mb-0" id="search">
                        <div class="input-group input-group-alternative input-group-merge">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input class="form-control" placeholder="Search" value="@ViewBag.Keyword" type="text" name="keyword" >
                        </div>
                    </div>
                    <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="filter" id="search">
                        <div class="row">
                            <div class="col-md-2" id="filterRow">
                                <select name="languageId" asp-items="@ViewBag.Languages" class="form-control">
                                    <option>--Chọn ngôn ngữ--</option>
                                </select>
                            </div>
                            <div class="col-md-2" id="filterRow">

                                <input type="text" name="studentCode" class="form-control" value="@ViewBag.StudentCode" />
                                <label>Mã sinh viên</label>
                            </div>
                            <div class="col-md-2" id="filterRow">

                                <input type="text" name="class" class="form-control" value="@ViewBag.Class" />
                                <label>Lớp</label>
                            </div>
                            <div class="col-md-2" id="filterRow">

                                <input type="text" name="academicYear" class="form-control" value="@ViewBag.AcademicYear" />
                                <label>Khoá</label>
                            </div>
                            <div class="col-md-2" id="filterRow">
                                <select name="faculty" asp-items="@ViewBag.Faculties" class="form-control">
                                    <option>--Chọn khoa--</option>
                                </select>
                                <label>Khoa</label>
                            </div>
                            <div class="col-md-2" id="filterRow">
                                <button type="submit" class="btn btn-sm btn-neutral" id="btnNew">Lọc</button>
                            </div>
                        </div>
                    </div>
                    
                </form>
                
                <!-- Light table -->
                <div class="table-responsive">
                    @if (ViewBag.Message != null)
                    {
                        <div id="msgAlert" class="alert alert-success" role="alert">
                            @ViewBag.Message
                        </div>
                    }
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    Tên
                                </th>
                                <th>
                                    Mã sinh viên
                                </th>
                                <th>
                                    Mã luận văn
                                </th>
                                
                                <th>
                                    Thông tin
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @foreach (var item in Model.Items)
                            {
                            <tr>
                                <td>
                                    <p>@Html.DisplayFor(modelItem => item.ThesisName)</p>
                                    <p><a href="ViewDocument/@item.Content" name="content">Link online</a></p>
                                    <p><a href="@(ViewBag.FilePath + item.Content)">Download offline</a></p>
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.StudentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ThesisId)
                                </td>
                                
                                <td>
                                    <ul>
                                        <li>Năm: @Html.DisplayFor(modelItem => item.Year)</li>
                                        <li>Đợt: @Html.DisplayFor(modelItem => item.Phase)</li>
                                        <li>Khoá: @Html.DisplayFor(modelItem => item.AcademicYear)</li>
                                        <li>Gv hướng dẫn: @Html.DisplayFor(modelItem => item.GuideLectureId)</li>
                                        <li>Điểm: @Html.DisplayFor(modelItem => item.Score)</li>
                                    </ul>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsProtected)
                                </td>
                                <td>
                                    <div class="row" id="btnRow">
                                        <a href="/Thesis/Edit/@item.Id" class="btn btn-sm btn-neutral" id="btnNew">Chi tiết và sửa</a>
                                        <a href="/Thesis/Delete/@item.Id" class="btn btn-sm btn-neutral" id="btnNew">Xoá</a>
                                    </div>
                                    <div class="row" id="btnRow">
                                        @if (item.IsProtected)
                                        {
                                            <a href="/Thesis/Status/@item.Id" class="btn btn-sm btn-neutral" id="btnNew">Chưa bảo vệ</a>
                                        }
                                        else
                                        {
                                            <a href="/Thesis/Status/@item.Id" class="btn btn-sm btn-neutral" id="btnNew">Đã bảo vệ</a>
                                        }
                                        
                                    </div>

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- Card footer -->

                @await Component.InvokeAsync("Paging", Model)
            </div>
        </div>
    </div>
</div>